.home-bg {
  /* width: 100%; */
  height: 100vh;
}
.nav-container {
  display: flex;

  align-items: center;
  justify-content: space-between;
  margin: 20px 20px;
}
.nav-logo {
  width: 120px;
}
.nav-save-btn {
  background-color: #0076df;
  border: 0px;
  padding: 4px 12px;
  border-radius: 20px;
  color: #fff;
  font-size: 16px;
}
.nav-drop-down {
  font-size: 20px;
}
.row {
  display: flex;
  align-items: center;
}
.drop-down-container {
  margin-bottom: 20px;
  cursor: pointer;
}
.bottom-arrow-icon {
  margin-top: 5px;
}

.home-center-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.band-icon-home-page {
  width: 25%;
  position: relative;
}
.home-page-watch {
  width: 25%;
  position: absolute;
  top: 13%;
  /* align-self: center; */
}
.home-center-main-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.under-line-p {
  color: #0076df;
  text-decoration: underline;
  margin: 5px 0;
}
.home-center-second-para {
  margin: 3px 0px;
  font-size: 14px;
  color: #6e6e73;
}
.home-center-third-para {
  margin: 2px 0px;
  font-weight: 600;
}
.home-buttons-container {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 40px;
}
.home-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  border-radius: 20px;
  border: none;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
}
.band-list-options-container {
  display: flex;
  gap: 10px;
  align-items: center;
}
