.home-bg {
  /* width: 100%; */
  height: 100vh;
}
.nav-container {
  display: flex;

  align-items: center;
  justify-content: space-between;
  margin: 20px 20px;
}
.nav-logo {
  width: 120px;
}
.nav-save-btn {
  background-color: #0076df;
  border: 0px;
  padding: 4px 12px;
  border-radius: 20px;
  color: #fff;
  font-size: 16px;
}
.nav-drop-down {
  font-size: 20px;
}
.row {
  display: flex;
  align-items: center;
}
.drop-down-container {
  margin-bottom: 20px;
  cursor: pointer;
}
.bottom-arrow-icon {
  margin-top: 5px;
}

.home-center-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.band-icon-home-page {
  width: 25%;
  position: relative;
}
.home-page-watch {
  width: 25%;
  position: absolute;
  top: 12%;
  /* align-self: center; */
}
.home-center-main-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.under-line-p {
  color: #0076df;
  text-decoration: underline;
  margin: 5px 0;
}
.home-center-second-para {
  margin: 3px 0px;
  font-size: 14px;
  color: #6e6e73;
}
.home-center-third-para {
  margin: 2px 0px;
  font-weight: 600;
}
.home-buttons-container {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 20px 0;
}
.home-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  border-radius: 20px;
  border: none;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
}
.band-list-options-container {
  display: flex;
  gap: 10px;
  align-items: center;
}
.active-size-text,
.active-case-text,
.active-band-text {
  font-weight: bold;
  /* color: #0076df; */
}
.nav-logo-mobile {
  display: none;
}
@media screen and (max-width: 799px) {
  .nav-logo {
    display: none;
  }
  .nav-logo-mobile {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    justify-self: center;
    margin-top: 8px;
    width: 100px;
  }
  .nav-container {
    margin: 10px;
  }
  .band-icon-home-page {
    width: 100%;
  }
  .home-page-watch {
    width: 100%;
  }
  .under-line-p {
    font-size: 20px;
  }
  .home-center-second-para {
    font-size: 16px;
  }
  .home-center-third-para {
    font-size: 16px;
  }
  .home-buttons-container {
    margin-top: 50px;
    width: 100%;
    gap: 5px;
  }
  .home-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    border-radius: 20px;
    border: none;
    padding: 6px 15px;
    font-size: 13px;
    cursor: pointer;
    overflow-x: scroll;
    margin: 0 auto;
  }
  .band-list-options-container {
    overflow-x: scroll;
  }
  .drop-down-container {
    margin: 0;
  }
}

/* popup code  */
/* Container for the popup */
.popup-container {
  position: relative;
  display: inline-block;
  margin: 20px;
}

/* Button to toggle the popup */
.popup-toggle {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.popup-toggle:hover {
  background-color: #f1f1f1;
}

/* Popup content */
.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);

  border-radius: 8px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* List inside the popup */
.popup-list {
  list-style: none;
  margin-top: 50px;
  padding-top: 0px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  width: 300px;
  background-color: #fff;
  border-radius: 10px;
}

.popup-item {
  padding: 10px 15px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  border-bottom: 1px solid #f1f1f1;
  transition: background-color 0.3s ease;
  text-align: center;
  padding: 13px 10px;
}

.popup-item:last-child {
  border-bottom: none;
}
.popup-item:hover {
  color: #0076df;
}
.popup-item:hover {
  background-color: #f9f9f9;
}

/* Overlay effect */
.popup-container::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
  /* display: ${({ isOpen }) => (isOpen ? "block" : "none")}; */
}
